@page "/users"

<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand">User data</a>
   <NavLink href="/user/createuser" class="btn btn-sm btn-success mb-2">Add user</NavLink>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">EmailAddress</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">InitialSumOfEstates</th>
      <th scope="col">CurrentSumOfEstates</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var user in _users)
  {
    <tr>
      <th scope="row">@user.Id</th>
      <td>@user.Name</td>
      <td>@user.EmailAddress</td>
      <td>@user.PhoneNumber</td>
      <td>@user.InitialSumOfEstates</td>
      <td>@user.CurrentSumOfEstates</td>
      <td><a href="/updateUser/@user.Id"><span class="oi oi-pencil" aria-hidden="true">Edit</span></a></td>
    </tr> 
  }
  </tbody>
</table>